<a href="https://colab.research.google.com/github/SidharthaBanra/Python-Programs/blob/main/Print_table_of_n_provided_by_user.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to print table of n provided by user
a=int(input("Enter the number for which you want to know the multiplication table of:"))
b=int(input("Enter upto what you want to know the table"))
c,d=1,0
print("The Table of",a,"is:")
for i in range (1,b+1):
    d=a*c
    print(a,' x ',i,'=',d)
    c=c+1

Enter the number for which you want to know the multiplication table of:10
Enter upto what you want to know the table10
The Table of 10 is:
10  x  1 = 10
10  x  2 = 20
10  x  3 = 30
10  x  4 = 40
10  x  5 = 50
10  x  6 = 60
10  x  7 = 70
10  x  8 = 80
10  x  9 = 90
10  x  10 = 100